In [6]:
import pandas as pd
import numpy as np

In [8]:
police_incidents = pd.read_csv('../data/police_incidents_2018.csv')

# Questions:

_For each of the below prompts, answer the following questions:_
1. Which columns would be useful in answering the prompt?
2. What work, if any, would have to be done to prepare the columns for analysis?
3. For the unused columns, why were they left out?

##### Prompts:
1. What are the most common types of incidents?
2. Where do incidents typically occur?
3. What is the average delay between when the incident occurred and when it was reported?

You do not need to answer these questions, just outline the initial steps that would need to be taken to answer them. **RECORD ALL YOUR CODE** that you write to answer the questions for each prompt. Do not delete anything, even if it doesn't lead anywhere. Its ok to fix code that produces an error

In [11]:
police_incidents.head(5)

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Latitude,Longitude,Mapped Location
0,20180001284_15,20180001284,S,SUSPECT,U,UNFOUNDED,Closed,01/01/2018 12:10:00 AM,01/01/2018 02:44:00 PM,600 JAMES ROBERTSON PKWY,...,NaN,U,UNKNOWN,U,U,Unknown,NaN,36.169,NaN,POINT (-86.785 36.169)
1,20180000385_11,20180000385,D,DISPATCHED,O,OPEN,Open,01/01/2018 03:50:00 AM,01/01/2018 05:06:00 AM,W TRINITY LN,...,NaN,B,BUSINESS,NaN,NaN,NaN,NaN,36.210,-86.77,POINT (-86.77 36.21)
2,20180019704_11,20180019704,D,DISPATCHED,O,OPEN,Open,01/06/2018 08:30:00 PM,01/06/2018 10:39:00 PM,ATRIUM WAY,...,NaN,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-86.69 36.16)
3,20180004680_22,20180004680,D,DISPATCHED,A,CLEARED BY ARREST,Closed,01/02/2018 02:38:00 PM,01/02/2018 03:41:00 PM,700 S 7TH ST,...,NaN,S,SOCIETY,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-86.757 36.168)
4,20180067933_11,20180067933,D,DISPATCHED,O,OPEN,Open,01/20/2018 11:00:00 PM,01/21/2018 08:24:00 PM,CHIMNEYTOP DR,...,NaN,I,INDIVIDUAL (18 AND OVER),M,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN

In [14]:
police_incidents.tail()

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Latitude,Longitude,Mapped Location
125979,20180213679_11,20180213679,D,DISPATCHED,U,UNFOUNDED,Closed,03/03/2018 06:00:00 PM,03/07/2018 10:13:00 AM,8100 HWY 100,...,NaN,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-86.954 36.045)
125980,20180731008_11,20180731008,D,DISPATCHED,U,UNFOUNDED,Closed,08/26/2018 07:30:00 AM,08/26/2018 09:11:00 AM,1000 PATRICIA DR,...,NaN,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,NON RESIDENT,NaN,NaN,POINT (-86.707 36.129)
125981,20180455227_11,20180455227,S,SUSPECT,A,CLEARED BY ARREST,Closed,05/24/2018 01:53:00 AM,05/24/2018 02:53:00 AM,100 HICKORY TRACE DR,...,NaN,S,SOCIETY,NaN,NaN,NaN,NaN,36.045,NaN,POINT (-86.719 36.045)
125982,20180385394_11,20180385394,S,SUSPECT,A,CLEARED BY ARREST,Closed,05/01/2018 08:55:00 AM,05/01/2018 08:55:00 AM,300 RIO VISTA DR,...,NaN,S,SOCIETY,NaN,NaN,NaN,NaN,36.269,NaN,POINT (-86.683 36.269)
125983,20180572025_22,20180572025,S,SUSPECT,U,UNFOUNDED,Closed,06/28/2018 10:00:00 AM,07/02/2018 02:34:00 PM,700 S 8TH ST,...,NaN,U,UNKNOWN,U,U,Unknown,NaN,NaN,-86.755,POINT (-86.755 36.168)

In [15]:
police_incidents.shape

(125984, 31)

In [16]:
police_incidents.columns

Index(['Primary Key', 'Incident Number', 'Report Type',
       'Report Type Description', 'Incident Status Code',
       'Incident Status Description', 'Investigation Status',
       'Incident Occurred', 'Incident Reported', 'Incident Location', 'ZIP',
       'RPA', 'Zone', 'Location Code', 'Location Description',
       'Offense Number', 'Offense NIBRS', 'Offense Description',
       'Weapon Primary', 'Weapon Description', 'Victim Number',
       'Domestic Related', 'Victim Type', 'Victim Description',
       'Victim Gender', 'Victim Race', 'Victim Ethnicity',
       'Victim County Resident', 'Latitude', 'Longitude', 'Mapped Location'],
      dtype='object')

In [18]:
police_incidents.dtypes

Primary Key                     object
Incident Number                  int64
Report Type                     object
Report Type Description         object
Incident Status Code            object
Incident Status Description     object
Investigation Status            object
Incident Occurred               object
Incident Reported               object
Incident Location               object
ZIP                             object
RPA                            float64
Zone                           float64
Location Code                  float64
Location Description            object
Offense Number                 float64
Offense NIBRS                   object
Offense Description             object
Weapon Primary                  object
Weapon Description              object
Victim Number                    int64
Domestic Related                object
Victim Type                     object
Victim Description              object
Victim Gender                   object
Victim Race                     object
Victim Ethnicity                object
Victim County Resident          object
Latitude                       float64
Longitude                      float64
Mapped Location                 object
dtype: object

In [19]:
police_incidents.describe()

,Incident Number,RPA,Zone,Location Code,Offense Number,Victim Number,Latitude,Longitude
count,1.259840e+05,68015.000000,68015.000000,125983.000000,125964.000000,125984.000000,56162.000000,56287.000000
mean,2.018072e+10,5705.806396,476.955451,26.259130,1.132022,1.179634,36.157062,-86.743057
std,3.575399e+06,4699.010823,216.230679,23.273796,0.400599,0.761189,0.065441,0.373479
min,1.900000e+10,1001.000000,111.000000,1.000000,1.000000,1.000000,35.970000,-87.040000
25%,2.018032e+10,2109.000000,315.000000,13.000000,1.000000,1.000000,36.110000,-86.790000
50%,2.018059e+10,5009.000000,515.000000,22.000000,1.000000,1.000000,36.160000,-86.751000
75%,2.018084e+10,8717.000000,623.000000,22.000000,1.000000,1.000000,36.199000,-86.696000
max,2.020026e+10,92960.000000,835.000000,90.000000,6.000000,31.000000,36.400000,0.000000